@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
}

:root {
    font-size: 12px;
    letter-spacing: 0;
    --yellow: #f4d04e;
    --grey-950: #111111;
    --grey-500: #6b6b6b;
    --white: #ffffff;


    --text-preset-1: 800 24px/150% 'Figtree', sans-serif;
    --text-preset-2: 500 16px/150% 'Figtree', sans-serif;
    --text-preset-3: 500 14px/150% 'Figtree', sans-serif;
    --text-preset-3-bold: 800 14px/150% 'Figtree', sans-serif;

}

.main {
    background: var(--yellow);
    min-height: 100vh;
    display: flex;
}

.card {
    margin: auto;
    width: 90%;
    max-width: 384px;
    padding: 2rem;
    background: var(--white);
    border: solid 1px var(--grey-950);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    box-shadow: 8px 8px 0 var(--grey-950);
}

.card__image {
    cursor: pointer;
    aspect-ratio: 337/202;
    border-radius: 10px;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.card__info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.card__category {
    cursor: pointer;

    font: var(--text-preset-3-bold);
    color: var(--grey-950);

    background: var(--yellow);
    padding: 4px 1rem;
    border-radius: 4px;
}

.card__date {
    cursor: pointer;
    font: var(--text-preset-3);
    color: var(--grey-950);
}

.card__title {
    cursor: pointer;
    font: var(--text-preset-1);
    color: var(--grey-950);
}

.card__subtitle {
    cursor: pointer;
    font: var(--text-preset-2);
    color: var(--grey-500);
}

.card__author {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.card__author-avatar img {
    width: 32px;
    aspect-ratio: 1/1;
}


.card__author-username {
    font: var(--text-preset-3-bold);
}